/*.control-label{
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}*/

.form-horizontal .form-group {
  margin-bottom: 0px;
  margin-right: 10px;
}

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.control-label{
  padding-left: 20px;
}

.box.box-success {
  border-top-color: #683584;
}

.panel-toolbar .btn {
  color: #ffffff;
  padding: 5px 10px;
}

.navbar-default {
  //background-color: #683584;
  background-image: url("../img/header1270.png");
  color: #fff;
  border-color: #e4eaec;
}

.navbar-default .navbar-toolbar > li > a {
  color: #fff;
}

.navbar-default .hamburger .hamburger-bar, .navbar-default .hamburger::after, .navbar-default .hamburger::before {
  background: #fff none repeat scroll 0 0;
}

.site-navbar .navbar-header {
  background-color: #683586;
  color: #fff;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 1px;
}

.filtros{
  padding-top: 20px;
}

.row{
  padding-top: 15px;
}
