
a {
    text-decoration: none;
}

.added {
    /*float: left;*/
    margin-right: 10px;
}
.eliminar {
    margin: 5px;
}

#fieldset{
    background-color: #0e90d2;
}
/*.default{
    width: auto;
}*/

.tab-content {
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
.tab-content {
    overflow: visible;
    font-size: 14px;
}

.embed, iframe, object, video {
    width: 100%;
    height: 600px;
}

.table th, .table td {
    border-top: 1px solid #ddd;
    line-height: 30px;
    padding: 8px;
    text-align: left;
    vertical-align: center;
}
.table{
    background-color: #ffffff;
}

#body{
    font-size: 14px;
}



/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    /*border-color: transparent;*/
    border-color: #004ef1 #004ef1 #fff;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}



.table-bordered {
    border-collapse: collapse;
}

/***/
.error-notice {
    margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    padding: 5px;
    border: 1px solid #eee;
    border-left-width: 2px;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 14px;
    color: #6d3682;
}

.danger {
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}

.warning {
    border-left-color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
    color: #f0ad4e;
}

.info {
    border-left-color: #5bc0de;
    /*background-color: rgba(91, 192, 222, 0.1);*/
    background-color: #e9e0ed;
}

.info strong {
    color: #5bc0de;
}

.success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
    color: #2b542c;
}

/*#tableselect thead {
    display:none;
}*/

#tableselect {
    background-color: transparent;
}


.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 310px;
}

.main-footer {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #d2d6de;
    color: #444;
    padding: 15px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}


.sombraImagen{
    box-shadow: 0 0 10px 0 grey;
}

.panel-toolbar {
    background-color: transparent;
    border-bottom: 0px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}



/*.nav-tabs li.active a {
    border-color: #683584;
    border-top-width: 3px;
    border-bottom: 2px solid #fff;
    padding-top: 13px;
    padding-bottom: 12px;
}

.nav-tabs li a {
    margin-right: 5px;
    padding: .96rem .9375rem;
    display: block;
    color: #555;
    /*border: 1px solid #dcdcdc;*/
    /*border-bottom: 1px solid #fff;
}

.nav-tabs{
    border-bottom: 1px solid #683584;
}
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #e9e0ed;
    border: 1px solid #683584;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    border-top-width: 3px;
}

.nav > li > a:focus {
    color: #555;
    cursor: default;
    background-color: #e9e0ed;
    border: 1px solid #683584;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    border-top-width: 3px;
}

.nav-tabs{
    border-bottom: 1px solid #683584;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 15px;
}

.panel-title{
    padding: 5px;
}

.sin{
    font-weight: 600;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    height: 28px;
    line-height: 34px;
}

.select2-container .select2-selection--single {
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    right: 8px;
    top: 4px;
    width: 20px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #757575;
}

.opciones {
    margin: 0 auto; /* Centering Stuff */
    background-color: #f1f4f5; /* Default background */
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 14px;
    color: #6d3682;
}

.navbar {
    margin-bottom: 0px;
    background-image: url("../img/header1270.png");
}

body {
    padding-top: 0px;
}

.panel-bordered > .panel-heading > .panel-title {
    padding-bottom: 1px;
}

.Sdibujo{
    width: 90px;
    display: inline;
}

.Sopcion{
    width: 90px;
    display: inline;
    margin-right: 10px;
}

.page-content {
    padding: 5px; /*30px*/
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.taskboard-stage {
    width: 100%;
}

.taskboard-list .list-group-item > .checkbox-custom input:checked + label {
    text-decoration: none;
}

.modal-dialog {
    width: 600px;
}